<template>
  <header id="header">
    <nav class="navigation" role="navigation" aria-label="main navigation">
      <div class="navigation-logo">
        <nuxt-link to="/">
          <h1>
            Olivier Christe | Journalist
          </h1>
        </nuxt-link>
      </div>
      <div class="navigation-menu">
        <ul class="boundaries">
          <li v-for="(item, key) in menu" :key="key">
            <nuxt-link :to="item.url">{{ item.label }}</nuxt-link>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</template>

<script>
export default {
  data() {
    return {
      menu: [
        {
          url: '/',
          label: 'Text',
        },
        // {
        //   url: '/bild',
        //   label: 'Bild',
        // },
        {
          url: '/kontakt',
          label: 'Kontakt',
        },
      ],
    }
  },
}
</script>

<style lang="scss">
#header {
  a {
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
  }

  .navigation-logo {
    display: flex;
    justify-content: center;
    padding: 0 2vmin;
    text-align: center;
  }

  .navigation-menu {
    border: solid;
    border-width: 1px 0;
    justify-content: center;

    ul {
      display: flex;
      justify-content: center;
      list-style-type: none;
      margin: 0 auto;

      li {
        flex: 0 1 auto;
        text-align: center;

        &:first-child {
          a {
            text-align: left;
          }
        }

        &:last-child {
          a {
            text-align: right;
          }
        }

        a {
          display: block;
          padding-left: 2.5em;
          padding-right: 2.5em;
          padding-bottom: 0.7em;
          padding-top: 0.7em;
        }
      }
    }
  }
}
</style>
