<template>
  <section class="article">
    <a
      :class="{ mini: mini }"
      :href="item.pdf ? pdf : item.link"
      class="article-link"
    >
      <template v-if="mini">
        <span class="date" aria-label="Datum">{{ month }}/{{ year }}</span
        >&nbsp;|
        <div class="content">
          <span class="title">{{ item.title }}</span
          >&nbsp;
          <small class="client" aria-label="Auftraggeber">{{
            item.customer
          }}</small>
        </div>
      </template>
      <template v-else>
        <div class="title">{{ item.title }}</div>
        <div class="meta">
          <span aria-label="Datum">{{ month }}/{{ year }}</span
          >&nbsp;|
          <span aria-label="Auftraggeber">{{ item.customer }}</span>
        </div>
        <div v-if="item.image" class="image">
          <img :src="image" :alt="item.title" />
        </div>
      </template>
    </a>
  </section>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => {},
    },
    mini: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    image() {
      return `${process.env.baseUrl}${this.item.image.path}`
    },
    pdf() {
      return `${process.env.baseUrl}${this.item.pdf.path}`
    },
    year() {
      const date = new Date(this.item.date)
      return date.getFullYear()
    },
    month() {
      const date = new Date(this.item.date)
      return ('0' + (date.getMonth() + 1)).slice(-2)
    },
  },
}
</script>

<style lang="scss" scoped>
.article {
  .article-link {
    color: inherit;
    display: block;
    padding: 20px 0;
    text-decoration: none;
    transition: 200ms;

    &.mini {
      padding: 5px 0;
      display: flex;

      .date {
        display: inline-block;
        min-width: 60px;
      }
      .content {
        padding-left: 0.3em;
      }

      .client {
        opacity: 0.7;
      }
    }

    &:hover {
      .title {
        text-decoration: underline;
      }
    }

    .title {
      font-size: 1.05em;
    }

    .meta {
      font-size: 0.8em;
      margin-bottom: 7px;
    }

    .image {
      position: relative;
      padding-bottom: calc(9 / 16 * 100%);

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
</style>
