<template>
  <div>
    <AppHeader />
    <main id="main" class="boundaries">
      <nuxt />
    </main>
  </div>
</template>

<script>
import AppHeader from '@/components/AppHeader.vue'

export default {
  components: {
    AppHeader,
  },
  head() {
    return {
      title: 'Olivier Christe - Journalist ',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'Persönliche Webseite von Olivier Christe. Hier findest veröffentlichte Zeitungsartikel, Textauszüge und fotografische Arbeiten.',
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content:
            'Journalist, Fotograf, Photographie, Zeitung, Autor, Basel, Bern, BZ, Republik, WOZ, NZZ, Antidot',
        },
      ],
    }
  },
}
</script>

<style lang="scss">
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.4;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-weight: lighter;
  font-size: 1.9em;
  margin-bottom: 0.8em;
  margin-top: 1.8em;

  @media screen and (min-width: 400px) {
    font-size: 2.4em;
  }

  @media screen and (min-width: 800px) {
    font-size: 2.7em;
  }
}

h2 {
  font-size: 1.4em;
  margin-bottom: 0.2em;

  &:not(:first-child) {
    margin-top: 2em;
  }
}

img {
  display: block;
  max-width: 100%;
}

#main {
  padding-top: 8vmin;
  padding-bottom: 8vmin;
}

.boundaries {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding: 0 6vmin;

  @media screen and (min-width: 800px) {
    padding: 0 12px;
  }
}

.page {
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.showAll {
  font-weight: bold;
  text-decoration: underline;
  margin-top: 1em;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}
</style>
