<template>
  <div class="page">
    <h2>Texte</h2>
    <ArticleEntry
      v-for="(item, key) in texts"
      :key="'text' + key"
      :item="item"
      mini
    />
    <h2>Foto</h2>
    <ArticleEntry
      v-for="(item, key) in pictures"
      :key="'bild' + key"
      :item="item"
      mini
    />
  </div>
</template>

<script>
import ArticleEntry from '~/components/ArticleEntry.vue'
import fetchArticles from '~/assets/api'

export default {
  components: {
    ArticleEntry,
  },
  async asyncData(context) {
    const articles = await fetchArticles()

    return {
      texts: articles
        .filter((item) => !item.bild)
        .sort(function(a, b) {
          return new Date(b.date) - new Date(a.date)
        }),
      pictures: articles
        .filter((item) => item.bild)
        .sort(function(a, b) {
          return new Date(b.date) - new Date(a.date)
        }),
    }
  },

  transition: 'slide-right',
}
</script>
