<template>
  <div class="page">
    <ArticleEntry v-for="(item, key) in articles" :key="key" :item="item" />
    <nuxt-link class="showAll" to="/alles" alt="Alle Publikationen"
      >Alle Publikationen</nuxt-link
    >
  </div>
</template>

<script>
import ArticleEntry from '~/components/ArticleEntry.vue'
import fetchArticles from '~/assets/api'

export default {
  components: {
    ArticleEntry,
  },
  async asyncData(context) {
    const articles = await fetchArticles()

    return {
      articles: articles
        .filter((item) => item.invisible !== true)
        .filter((item) => item.bild)
        .sort(function(a, b) {
          return new Date(b.date) - new Date(a.date)
        }),
    }
  },

  transition: 'slide-right',
}
</script>
