<template>
  <div id="contact" itemscope itemtype="http://schema.org/Person">
    <div class="address">
      <div>
        <span itemprop="givenName">Olivier</span>
        <span itemprop="familyName">Christe</span>
      </div>
      <div>Journalist BR</div>
      <div itemprop="email">
        <a href="mailto:ochriste@gmail.com">ochriste@gmail.com</a>
      </div>
      <div class="props">
        Created by
        <a href="https://santihans.com" rel="noopener" target="_blank"
          >SANTiHANS</a
        >
        in Basel.
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
#contact {
  .props {
    margin-top: 2em;
  }
}
</style>
